g-loading-icon, .hg3Lgc {
  display:none!important
}
#rg, .islrc {
  min-width: 95vw!important
}
.qs41qe {
  display: none!important;
  height: 0!important;
  margin-bottom: 0!important;
}
scrolling-carousel[jsname="XIiWWe"] {
  display:none!important
}
#Sva75c {
  visibility:hidden
}
#islsp {
  display:none!important
}
#kO001e {
  z-index:99999999999
}
[jscontroller="ONqfcd"] {
  outline: none
}
#islmp {
  width:100%!important
}
.rg_ilmbg, .rg_anbg {
  width: 100%!important;
  border-radius: 0!important;
  height: 15px!important;
  font-size: 11px!important;
  line-height: 15px!important;
  margin: 0!important;
  color: #f3efef!important;
  background: rgba(51,51,51,0.8)!important;
  padding: 0!important;
  padding-left: 4px!important
}
.rg_anbg * {
  color:#f3efef!important
}

.h312td, .RtIwE {
  display:none!important
}

div .h312td {
  display:none!important;
  opacity:0!important
}

.gishoverinfo {
  width: calc(100% - 4px)!important;
  border-radius: 0!important;
  height: 15px!important;
  font-size: 11px!important;
  line-height: 15px!important;
  margin: 0!important;
  color: #f3efef!important;
  background: rgba(51,51,51,0.8)!important;
  padding: 0!important;
  padding-left: 4px!important;
  position: absolute;
  bottom: 42px;  
  display:none;
  left:0!important
}
.isv-r {
  pointer-events:none
}
img.GRN7Gc {
  display:none!important
}
.wXeWr {
  border-radius:0!important
}
svg[width="16"].C3hMyb {
  display:none!important
}
[jsmodel="BV3ECb"] {
  display:none!important
}
div.O8VmIc.a3Wc3 {
  display:none!important
}
.PPklbc {
  display:none
}
.Pbz6U {
  display:none
}
img[jsname="i1Vy9"] {
  display:none
}
.OuJzKb.Yu2Dnd div {
  display:none
}